.login-box {
    display:block;
}
.react-datepicker__input-container input {
    font-size: .8rem !important;   /* Match Bootstrap's default size */
    padding: 0.375rem 0.75rem;     /* Match Bootstrap padding */
    height: auto;                  /* Adjust height if needed */
    line-height: 1.5;
}

.agenda-input {
  resize: none; /* prevent manual resizing */
  overflow: hidden;
  min-height: 30px; /* Bootstrap input-group-text default height */
  max-height: 200px; /* Optional limit */
  box-sizing: border-box;
}