#header {
    margin: 0;
    padding: 0;
    background-color: black;
    height: auto;
    width: 100%;
    font-size: 16px;
}

ul {
    color: white;
    text-decoration: none;
    font-size: medium;
    text-align: center;
    width: 100%;
}

li:hover {
    background-color: #323945;
}

#smallmenu {
    display: none;
}
#smallmenu.show {
    display: block;
}

/* #bigmenu.hide{
    display:  
} */
#crossicon{
    display: none;
}
/* #menuicon {
    display: block;
} */
#burgericon.hide {
    display: none;
}
#crossicon.show {
    display: block;
}

.banner {
    background-color : #0080003f;
}

.nav {
    background-color : #0080003f;
}
.nav-link {
    /* background-color: red; */
    color: white;
}
.nav-item:active {
    background-color: black; /* Ensure color doesn't change on click */
}
.nav-item.hover,
.nav-link:hover {
    color:rgba(255, 0, 0, 0.566);
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show  {
    color: white;
    background-color:red;
}

/* #events {
    display: none;
}

#event-menu:hover #events {
    display: block;
}

.btn-ext {
    background-color: transparent;
    border: 0;
    color: white
}

#events li:hover {
    background-color: black;
    text-decoration: none;
} 

.dropdown-small{
    left: 50% !important;
    transform: translateX(-50%) !important;
    top: 100% !important;
}
*/

@media screen and (max-width: 767px) {
    #bigmenu{
        display: none;
    }
}
@media screen and (min-width: 768px) {
    #burgericon {
        display: none;
    }
    #menuicons {
        display: none;
    }
}

