.row {
    
    display: flex;
    
    padding: 0

}

.Banner {
    display: flex;
    width: 100vw;
    background-color: rgb(236, 200, 38);
    border: 1px solid white; /* Add a white border */
    padding: 0;
    margin-left: 0;
    align-items: center;
    justify-content: center;
}
.Banner-top-row {
    width: 100%;
    background-color: black; /* Example background */
    padding: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Shadow effect */
}
.Banner-bottom-row {
    width: 100%;
    text-align: center;
    padding-top: 10px;
}
.Banner-right-column {
    width: 100%;
    height: 100%;
    background-color: black; /* Base color */
    clip-path: polygon(0 60%, 100% 40%, 100% 100%, 0 100%);
    position: relative;
    color: white;
    padding: 20px;
    overflow: visible;
    text-align: center;
}
.Ad-field {
    position: relative;
    width: 100%;
    background-color: #051400f5;
    margin-top: 5px;
    border: 1px solid white; /* Add a white border */
}
.Ad-field h5 {
    text-transform: uppercase;
    color: red;
    text-align: right;
    font-size: clamp(13px, 2vw, 16px);
    animation: 
        move-rtl 12000ms linear infinite,
        blink 1s infinite;
    /* display: inline-block;  */
}
.Banner-item {
    width: 70px; /* Size of the square */
    height: 100px;
    background-color: red; /* Background color of the square */
    position: absolute; /* Positioning relative to the parent */
    top: 40px; /* Position from the top of the parent */
    left: 20px; /* Position from the left of the parent */
    border: 3px solid white; /* Optional border */
    /* transform: rotate(-4.8deg); */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Shadow effect */
}
@keyframes move-rtl {
    0% {
        transform: translate(100%);
    }
    100% {
        transform: translate(-100%);
    }
}
@keyframes blink {
    0%{
        color: red;
    }
    50%{
        color: white;
    }
    100% {
        color: red;
    }
}

@media only screen and (min-width: 432px)  {
    .smallscreen{
        display: none !important;
    }
}
/* 
@media only screen and (min-width: 431px) and (max-width: 767px) {
    .Banner {
        height: 300px;
    }
    .bigscreen {
        display: none;
    }
} */
@media only screen and (max-width: 431px) {

    .bigscreen {
        display: none !important;
    }
}
